@import url("https://fonts.googleapis.com/css?family=Monoton");

body {
  background: black;
}


.info {
  color: grey;
}

.counter {
  color: white;
  font-size: 4vw;
}

#add_points_link {
  background-color: lightgray;
}

#bottom {
  margin-top: 1000px
}

body {
  transition: background-color ease-in 0.5s;
}

.clan {
  font-family: "Monoton", Helvetica, sans-serif;
  letter-spacing: 5px;
  display: inline;
  font-size: 6vw;
  text-transform: uppercase;
}

@supports (-webkit-background-clip: text) {
  .poseidon {
    color: transparent;
    background: linear-gradient(7deg, #72B9DA 50%, #21A2DF 0);
    -webkit-background-clip: text;
  }
}

@supports (-webkit-background-clip: text) {
  .hydra {
    color: transparent;
    background: linear-gradient(7deg, #F57968 50%, #F03A1F 0);
    -webkit-background-clip: text;
  }
}

@supports (-webkit-background-clip: text) {
  .ulysse {
    color: transparent;
    background: linear-gradient(7deg, #F9E6A1 50%, #FFD532 0);
    -webkit-background-clip: text;
  }
}
