<!DOCTYPE HTML>

<html lang="en">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134141627-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134141627-1');
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!--https://getbootstrap.com/docs/4.1/getting-started/introduction/-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!--fontawesome icons-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <!--SVG.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.6/svg.js"></script>

        <!--Link to css file-->
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

        <!--Link to javascript-->
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <script src="{{ url_for('static', filename='sha.min.js') }}"></script>

        <!--Link to CountUp-->
        <script src="{{ url_for('static', filename='countUp.js') }}"></script>

        <!--Jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <title>Gouvernement des Élèves</title>

    </head>
    <body>
      <br>
      <div id="all" class="container-fluid text-center">
        <div id="main_div">
          <a id="add_points_link" class="btn btn-light"><i class="fas fa-sort-amount-up"></i> Ajouter des points</a>
          <br>
          <br>
          <div class="row">
            <div class="col">
              <table class="table table-dark table-striped table-info">
                <tr>
                  <td colspan="3">
                    <h1 id="olympiades_title">Olympiades 2019.</h1>
                    <p id="olympiades_subtitle">compétition féroce entre-clans du 11 - 15 février</p>
                  </td>
                </tr>
                <tr>
                  <th>Équipe</th>
                  <th>Points</th>
                  <th>Likes</th>

                {% for team in teams %}
                </tr>
                  <td>
                    <a href="{{ team[1] }}" id="team_name">{{ team[0] }}</a><br>
                    <span id="team_members">{{ team[2] }}</span>
                  </td>
                  <td>{{ team[3] }}</td>
                  <td>
                    <form action="/add_points_team" method="post">
                      <input type="hidden" name="team" value="{{ team[0] }}">
                      {{ team[4] }} likes <button type="submit" class="btn btn-info"><i class="fas fa-thumbs-up"></i></button>
                    </form>
                  </td>
                </tr>
                {% endfor %}

              </table>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="info">7e et 10e</h6>
              <h4 class="clan poseidon">Poséidon:</h4>
              <h2 id="poseidon" class="counter">0</h2>
            </div>
            <div class="col">
              <h6 class="info">8e et 11e</h6>
              <h4 class="clan ulysse">Ulysse:</h4>
              <h2 id="ulysse" class="counter">0</h2>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="info">9e et 12e</h6>
              <h4 class="clan hydra">Hydra:</h4>
              <h2 id="hydra" class="counter">0</h2>
            </div>
          </div>
          <div id="drawing"></div>
        </div>

        <div id="add_points_div" class="text-center">
          <div class="alert alert-danger" id="alert"></div>
          <a id="main_link" href="#">Retourne</a>
          <br>
          <br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ajouter des Points</h5>
              <h6 class="card-subtitle">Formulaire de soumission</h6>
              <br>
              <form id="add_points_form" action="/update_points" method="post">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Clan:</span>
                  </div>
                  <select name="clan" class="form-control" id="points_clan" required>
                    <option value="" disabled selected></option>
                    <option value="P">Poséidon</option>
                    <option value="H">Hydra</option>
                    <option value="U">Ulysse</option>
                  </select>
                <input name="points" type="number" class="form-control" id="points_amount" min="1" placeholder="Points" required>
                </div>
                <br>
                <input name="password" type="password" class="form-control" id="points_password" placeholder="Code Secret" required>
                <br>
                <button class="btn btn-info" type="submit">Ajouter</button>
              </form>
            </div>
          </div>
          <br>
          <br>
          <br>
          <footer>
              <a href="https://pierre-savard.ecolecatholique.ca/">GDE Pierre-Savard</a>
              <br>
              <p>Créé par Michael Zhang</p>
          </footer>

        </div>
      <div id="hide">
        {% for point in points %}
          <p data-clan="{{ point[0] }}" data-points="{{ point[1][0] }}" data-percent="{{ point[1][1] }}"></p>
        {% endfor %}
      </div>
    </body>
</html>
